
    <div class="container-fluid">    
                          
          <!-- <div class="col col-one" >
            
            <app-card *ngFor="let post of colOne;let i=index;" [job]="post" [index]="i"></app-card>
          </div> 

          <div class="col col-two"  >
            
            <app-card *ngFor="let post of colTwo" [job]="post"></app-card>
          </div> 

          <div class="col col-two">
            
            <app-card *ngFor="let post of colThree" [job]="post"></app-card>
          </div>  -->
        
      <div class="row" *ngIf="posts">
         
          <div class="col-lg-3 col-md-4 col-sm-6  col-12"  *ngFor="let post of posts | sortBy: 'desc':'acf.data_post'">
            <app-card [job]="post" ></app-card>
          </div>
      </div>
 

    </div>



