.certificates {
    width: calc(100% - 290px);
    float: right;
    padding: 40px 20px 30px 20px ;
    background: #f3f3f3;
}

.certificates .wrapper {
    justify-content: start;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.certificates .icon  {
    display: inline-block;
    background: #eee;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: #555;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

.certificates i {
    font-size: 3rem;
    margin-top: 20px;
}


.certificates h3 {
    font-size: 0.8rem;
    margin-top: 5px;
    font-weight: normal;
    min-height: 3.7em;
    display: inline-block;
}

@media (max-width: 576px) {
    .certificates {
        width: calc(100% - 10vw);
    }
  }
