<div class="card" (mouseenter)="cardHighlight()" >
   <figure class="figure">
        <a routerLink="detalhes/{{ job?.id }}" *ngIf="job?.acf?.image_square_400?.url">
            
            <img  src="{{ job?.acf?.image_square_400?.url }}" class="figure-img img-fluid" alt="{{ job?.acf?.image_post?.alt }}"  />
           
        </a>

        <a routerLink="detalhes/{{ job?.id }}"  *ngIf="!job?.acf?.image_square_400?.url">
            
            <img  src="{{ job?.acf?.image_post.sizes.qua }}" class="figure-img img-fluid" alt="{{ job?.acf?.image_post?.alt }}"  />
           
        </a>
    </figure>
    <article>
        <h2> 
            <a  routerLink="detalhes/{{ job?.id }}">{{ job?.acf?.title_post}}</a>
        </h2>
        <div class="tags" >
            <span *ngFor="let tag of job?.acf?.post_tags" title="{{tag?.acf?.tag}}" class="badge badge-primary">{{tag?.acf?.tag}}</span>
        </div>
    </article>  
</div> 





