$color_black: #282828;
$color_light_black: #333;
$color_dark_black: #111;
$color_blue: #00ffeb;
$color_grey: #f3f3f3;
$color_dark_grey: #ddd;
$color_white: #fff;
$color_green: #0aec1c;
$color_red: #fb360a;

$linkedin_color: #0077b7;
$pinterest_color: #cd0000;
$github_color: #800080;