<div class="inner" >
    <div class="logo">
        <figure> 
            <img src="assets/img/profile.jpg" alt="Foto de Perfil" />
        </figure>
    </div>

    <div class="brand">
        <figure> 
            <img src="./assets/img/logo.png" alt="Logotipo - Rafael Gomes" />
        </figure>
        <p>Front-end Developer</p>
    </div>

    <div class="social">
    
        <a [href]="icon.url" *ngFor="let icon of socialIcons" [ngClass]="['transition hi-icon-effect-3 hi-icon-effect-3b', icon.class]" target="_blank">
            <span class="hi-icon ">
                <i [ngClass]="['fab', icon.pic]"></i>
            </span>
        </a>    
                    
    </div>

    <div class="navigation">
        <nav>
            <a *ngFor="let page of pages" [href]="page.url"  routerLinkActive="active"
            >{{ page.title }}</a>
        </nav>
    </div>
</div>  


