/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";
@import 'helpers/config';
@import 'helpers/mixins';
@import 'helpers/placeholders';
@import 'helpers/colors';
@import 'helpers/icons';

:root {
    font-size: 16px;  

    @include md {       
        font-size: 14px;
    }
}

body {
    background: $color_black;
    position: relative;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-weight: 700;
}
.shadow {
    background: #000;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;
    opacity: 0.5;
    display: none;
}
figure {
    display: block;
    width: 100%; 
    margin-bottom: 0;
    img {
        max-width: 100%;
    } 
    
}

a {
    @extend %secondary_link;
}
.badge {
    @include border-radius(0.8125rem);
    
    padding: 0 1rem;
    height: 1.5625rem;
    line-height: 1.5625rem;

    &.badge-primary {
        background-color: $color_blue;
        color: $color_black;
    }
}

// content 
.figure-img {
    width: 100%;
}
.main {
    display: flex;
    width: 100%;
    flex-direction: row;    

    @include md {
        display: block;
        float: left;
    }
}
.sidebar {   
    height: 100vh;
    width: 100%;
    max-width: $sidebar_width;

    @include md {       
       max-width: 100%;       
       margin-bottom: 20px;
       text-align: center;
      
    }

}

.content {   
    background: $color_grey;
    background: #fff;
    float: right;  
    width: 100%;
}

// forms
$formField: '.form-field__field';
$sizeField: 50px;

.form-field { 
    @include transition(all .3s ease);   
    @extend %block; 

    background: $color_grey;
    margin-bottom: 20px;
    &:focus, &:hover, &:visited {
       // @include box-shadow(0 16px 24px 2px rgba(0, 0, 0, 0.8));

        @include box-shadow(0,8px,10px, rgba(0, 0, 0, 0.6));

        background: $color_white;
        .icon {
            color: $color_dark_black;
        }
    }
    &.invalid {
        border: 2px solid $color_red;
        .icon {
            color: $color_red;
        }
    }
    &.valid {
        border: 2px solid $color_green;
    }

    .icon {
        width: $sizeField; 
        height: $sizeField;
        line-height:  $sizeField;
        text-align: center;
        font-size: 1rem;       
        color: $color_light_black;
        display: inline-block;
    }

    /* .check-icon {
        @extend .icon;
        position: relative;
        
        &:before {
            @include border-radius(50%);

            display: inline-block;
            width: 42px; 
            height: 42px; 
            content: '';
            border: 2px solid blue;
            position: absolute;
            top: 4px;
            left: 4px;
        }
    }  */
}

#{$formField} { 
    @include line-height($sizeField);
    @include transition(all 1.3s ease);

    background: transparent;
    display: block;
    border: 0;
    outline: none;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0;
    //margin-left: calc(( #{$sizeField} + 10px ));  
    float: right;
    width: calc(100% - ( #{$sizeField} ));    
    
}
textarea#{$formField} {
    min-height: 150px;
}

.button {
    border: 0;
    width: 100%; 
    height: $sizeField;
    display: block;

    &:not([disabled]) {
        background: $color_dark_black;
        color: #fff;
    }
  
}





//////
/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
 .success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFFFFF;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #FFFFFF;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}