<section #section>
    <div class="container-fluid">

    <div class="row">
        <div class="col-12" >

            <!-- <app-preloader *ngIf="!job"></app-preloader> -->

            <div class="job transition" *ngIf="job">
                    <!-- <div class="image" [ngStyle]="{'background-image': 'url(' + job?.acf?.image_post?.url + ')'}">   -->
                    <!-- <div class="image" [ngStyle]="{'background-image': 'url(' + imageBase64 + ')'}">                -->
                    <div class="image">
                    <figure class="imgWrap" #figure >
                        <img [src]="job?.acf?.image_post?.url"  />
                        <!-- <img [src]="imageBase64"  /> -->
                    </figure>
                </div>
                <article>
                    <h1>
                       <span #title>
                            {{ job?.acf?.title_post}}
                       </span>
                    </h1>
                    <div [innerHTML]=" job?.acf?.post_content"></div>

                    <div class="technologies">
                        <p>Técnologias utilizadas no projeto</p>
                        <nav><a *ngFor="let tec of technologies" class="badge">{{ tec?.name }}</a> </nav>
                    </div>

                </article>

                <button type="button" class="btn btn-lg btn-block mb-3 to-back" (click)="backClicked()" #toback>
                    <i class="fas fa-chevron-left"></i>

                    Voltar</button>
            </div>

        </div>

    </div>

</div>
</section>